<nav
  class="navbar has-text-white"
  role="navigation"
  aria-label="main navigation"
>
  <div class="navbar-brand" (click)="goHome()">
    <a class="navbar-item">
      <img
        class="homeImage"
        src="../assets/images/logo.jpg"
        width="40"
        height="40"
      />
    </a>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Sign Up/Login</button>
    <div class="dropdown-content">
      <a class="button is-primary" routerLink="/sign-up" href="#">
        <strong>Sign up</strong>
      </a>
      <a class="button is-primary" routerLink="/login" href="#">
        <strong>Log In</strong>
      </a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
