<body class="main-body">
  <form [formGroup]="signUpForm" (ngSubmit)="signUp()" class="form">
    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <label class="input-label">Username: </label>
        <input
          class="input"
          type="text"
          placeholder="Username"
          formControlName="username"
          (change)="checkUsername()"
        />
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <label class="input-label">Email: </label>
        <input
          class="input"
          type="email"
          placeholder="Email"
          formControlName="email"
        />
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <label class="input-label">Password: </label>
        <input
          class="input"
          type="password"
          placeholder="Password"
          formControlName="password"
        />
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <label class="input-label">Profile Pic: </label>
        <input
          class="input-select"
          type="file"
          formControlName="profilePicture"
          accept="image/png, image/jpg, image/jpeg"
          (change)="verifyImage($event)"
        />
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control">
        <button [disabled]="!signUpForm.valid" class="button is-success">
          Sign Up
        </button>
      </p>
    </div>
    <div id="have-Account">
      <div>Already have an account go to:</div>
      <a id="go-login" href="/login">login</a>
    </div>
  </form>
  <div id="is-success-show">
    <h1 id="success-header">Successfully Signed Up!</h1>
    <button id="logIn">Continue to Log In</button>
  </div>
</body>
