.form{
    align-items: center;
    position: relative;
    padding-left: 40%;
    
}

.input{
    border-radius: 5px;
    border-color: aquamarine;
}

.input-label{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-right: 3%;

}

body{
    background-color: #f4f6ff;
    background-size: cover ;
    align-items: center;
     height: 100vw;
    /* width: 100vh;  */
}

.field{
    align-items: center;
    display: flex;
}