.form{
    padding-left: 40%;    
}

.input{
    border-radius: 5px;
    border-color: aquamarine;
}

.input-label{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-right: 3%;

}

body{
    background-color: #f4f6ff;
    height: 100vw;
    
}

.field{
    display: flex;
}

#is-success-show{
    align-content: right;
    background-color: black;
    background-color: blueviolet;
    padding-left: 30%;
}


#logIn{
    background-color: green;
    border-radius: 5%;
}

#have-Account{
    display: inline-flex;
}

#go-login{
    padding-left: 5px;
}